<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        .Form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row                                         ;
        }
    </style>
</head> 
<body>
    <h1>SignUp</h1>
    <div class="Form">
    <form action="/user" method="post" >
        <label>FullName</label>   
       <input type="text" required   name="name" />

       <label>Email</label>
       <input type="text" required   name="email" />

       <label>Password</label>
       <input type="text" required     name="password" />

       <button type="submit" >Sign Up</button>
    </form>
</div>
</body>
</html>